:root {
  --color-primary-100: hsl(245, 75%, 52%);
  --color-primary-200: hsl(225, 100%, 94%);

  --color-neutral-100: hsl(225, 100%, 98%);
  --color-neutral-200: hsl(224, 23%, 55%);
  --color-neutral-300: hsl(223, 47%, 23%);

  --font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-neutral-200);
  font-family: var(--font-family);
  color: var(--color-neutral-300);
  line-height: 1.6;
  font-weight: 500;
}

body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-summary {
  background-color: var(--color-neutral-100);
  width: 90%;
  max-width: 350px;
  border-radius: 1rem;
  overflow: hidden;
}

.order-summary__hero {
  width: 100%;
}

.order-summary-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.order-summary__title {
  font-weight: 900;
}

.order-summary__text {
  color: var(--color-neutral-200);
  padding: 0 2rem;
}

.order-summary__plan {
  display: flex;
  padding: 1.5rem;
  background-color: hsla(225, 100%, 94%, 0.3);
  border-radius: 1rem;
  align-items: center;
}

.order-summary__plan > div {
  margin-right: auto;
  margin-left: 2rem;
}

.order-summary__plan-name {
  font-weight: 700;
}

.order-summary__plan-rate {
  color: var(--color-neutral-200);
}

.btn {
  border: none;
  padding-block: 1.5rem;
  border-radius: 1rem;
  font-weight: 900;
  font-size: inherit;
}

.btn--primary {
  background-color: var(--color-primary-100);
  color: var(--color-neutral-100);
  box-shadow: 0px 10px 20px 0px hsla(245, 75%, 52%, 0.5);
}

.btn--ghost {
  background-color: transparent;
  color: var(--color-neutral-200);
}
